@CHARSET "UTF-8";
html { font-size:62.5%;-webkit-font-smoothing:antialiased;}
body {background:#F2F2F2; text-align:center;font-family:"黑体",Helvetica,"Microsoft YaHei",Arial,Tahoma,sans-serif;-webkit-user-select:none; -webkit-text-size-adjust:none; font-size:1rem;}
* { margin:0; padding:0;list-style:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
i, em{ font-style:normal; font-weight:normal; }
input::-webkit-input-placeholder{color:#CACAD8;}
img{width:100%;vertical-align:top;}
input,textarea,select,button{-webkit-appearance:none;font-size:1rem;border:0;}
input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:0;}

/*按钮样式及点击时的效果*/
.btn{display:block !important;position:relative;overflow:hidden;}

/*杂项*/
.clear-fix{clear:both;}
.none{display:none !important;}
.hide{visibility:hidden !important;}

.main{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden;}
.app{position:relaitve;}
.content{position:absolute;width:100%;}

/* 1像素边框====================== */
.border{position:relative;}
.border:after{content:""; position:absolute; left:0; top:0; right:-100%; bottom:-100%; -webkit-transform:scale(0.5); -webkit-transform-origin:0 0; pointer-events:none;}
.b_all:after{border:1px solid #ddd;}
.b_btm:after{border-bottom:1px solid #ddd;}
.b_lft:after{border-left:1px solid #ddd;}
.b_rgt:after{border-right:1px solid #ddd;}
.b_top:after{border-top:1px solid #ddd;}
.b_top_btm:after{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.b_rgt_btm:after{border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
